@font-face {
    font-family: "db-icons";
    src: url("./db-icons.eot?06e584bd03e4e3077e6679bc11e4f9b4?#iefix") format("embedded-opentype"),
url("./db-icons.woff2?06e584bd03e4e3077e6679bc11e4f9b4") format("woff2"),
url("./db-icons.woff?06e584bd03e4e3077e6679bc11e4f9b4") format("woff"),
url("./db-icons.ttf?06e584bd03e4e3077e6679bc11e4f9b4") format("truetype"),
url("./db-icons.svg?06e584bd03e4e3077e6679bc11e4f9b4#db-icons") format("svg");
}

i[class^="db-icon-"]:before, i[class*=" db-icon-"]:before {
    font-family: db-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.db-icon-chevron-down:before {
    content: "\f101";
}
.db-icon-chevron-right:before {
    content: "\f102";
}
.db-icon-notifications-without-bubble:before {
    content: "\f103";
}
